*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent{
    height: 500px;
    width: 600px;
    background-color: yellow;
    border: 2px solid red;
}

#child{
    height:inherit;
    width: 300px;
    background-color:inherit;
    border: inherit;
}

