/* #rahul{
    color: hotpink;
}

.wow{
    background-color: yellow;
}

.something{
    color: brown;
}

.anything{
    color: aqua;
}

#sir{
    color: cornflowerblue;
}

h1{
    color: blueviolet;
}

button{
    color: darkgreen;
}

.red{
    color: red;
}

h1,p{
    color: yellow;
}

#hello,.bye{
    background-color:darksalmon;
}

*{
    color:darkmagenta;
    background-color: orange;
} */

/* 
h1{
    color: red;
} */

/* .happy{
    color: green;
} */

/* #women{
    color: blue;
} */

*{
    color: indigo;
}